{% extends "base.html" %}
{% block content %}
<h3>Редагувати магазин</h3>
<form method="post">{% csrf_token %}
  <div class="mb-2">
    <label class="form-label">Назва</label>
    <input class="form-control" name="name" value="{{ shop.name }}">
  </div>
  <div class="mb-2">
    <label class="form-label">Опис</label>
    <textarea class="form-control" name="description">{{ shop.description }}</textarea>
  </div>
  <div class="mb-2">
    <label class="form-label">Платіжна інформація</label>
    <textarea class="form-control" name="payment_info">{{ shop.payment_info.info }}</textarea>
  </div>
  <button class="btn btn-primary">Зберегти</button>
</form>
{% endblock %}
