{% extends "base.html" %}
{% block content %}
{% with img=product.images.first %}{% if img %}<img src="{{ img.image.url }}" alt="{{ product.title }}" class="img-fluid mb-3">{% endif %}{% endwith %}
<h3>{{ product.title }}</h3>
<p>{{ product.description }}</p>
<p><strong>{{ product.price }} {{ product.currency }}</strong></p>
<form action="{% url 'add_to_cart' product.id %}" method="post">{% csrf_token %}
  <input type="number" name="qty" min="1" max="{{ product.stock }}" value="1" class="form-control w-25 d-inline">
  <button class="btn btn-primary">Додати в кошик</button>
</form>
{% endblock %}
